---
title: Climate
description: The best weather app for your Apple Watch.
hero_image: climate-hero.png
accent_color: '#FFCF31'
type: App
---

After getting the Apple Watch, I noticed that in my usage the most useful apps were the ones that presented me with information quickly and let me go along with my day. Apps like Calendar, Activity and Weather were the apps that really worked well on the watch.

There was one major problem with that. The first-party weather app for Apple Watch leaves a lot to be desired.

## The best way to complain is to make things
I decided that instead of complaining about it on Twitter, I'd do something a bit more productive: I'd make my own app. It seemed like an interesting challenge both from a design and development standpoint.

If you own an Apple Watch, you know exactly what I'm talking about in regards to the stock weather app, but in case you don't, here's how it looks like:

<figure class="figure--extend-right">
  <img src="/assets/portfolio/climate/climate-weather-app.png" alt="">
  <figcaption>The default Weather app, as pictured above, uses three different screens to present the day's weather information. To switch between them you can either tap or force touch.</figcaption>
</figure>

Needless to say, this is a very odd design choice. Putting the information around a circle means that there's very little space to fit the necessary information, so they had to split it up across three views. In a device where the time spent should be counted in fractions, switching between these view takes what seems like an eternity.

<p class="pull-quote">I decided that instead of complaining about it on Twitter, I'd do something a bit more productive: I'd make my own app.</p>

What I decided to do with my app was simplify the interaction model and putting things you want to know immediately at the top and what's happening later at the bottom.

<figure class="figure--half-right">
  <img src="/assets/portfolio/climate/climate-sections.png" alt="">
</figure>

1. The **first section** is all about what is happening right now. At a glance, you get the temperature, the condition, as well as a text description of what's happening. I love being able to read a human-friendly description of the situation.

2. The **second section** is about what is happening in the next few hours. Want to know how warm it's going to be when you go out for lunch? The app's got you covered.

3. Finally, the **third section** is about what the forcast is going to be during the week. You can drill down to a specific day to get more information if you want to know more details.

## It's... complicated
The app also omits the condition from its complication, leaving you with the temperature only. What I opted for in my app was coupling the temperature with an icon to quickly identify whether it's raining, snowing or simply cloudy.

<figure class="figure--flush">
  <img src="/assets/portfolio/climate/full-bleed.jpg" alt="">
</figure>

## Icons
Speaking of icons, icons are clearly a huge part of any weather app. For this app, I decided to modify the Glyphish set of icons to fit my needs.

<figure class="figure--extend-right">
  <img src="/assets/portfolio/climate/icons.png" alt="">
  <figcaption>This is just a subset of all the icons used throughout the app.</figcaption>
</figure>

With this set of icons, making tiny icons for the app's complication has definitely been a challenge, but it was fun to zoom all the way in and make sure the icons stay recognizable and sharp.

## Open for testers
The app is currently in beta and I need your help to test it! If you're interested, don't hesitate to [shoot me an email](mailto:kevin@kevinclark.ca) and I'll add you to the beta group. I've been using the app every day and I've been loving it.
