---
title: MTL Dribbble Meetup
link: http://mtldribbblemeetup.com
hero_image: mtl-dribbble-meetup-hero-2.png
description: Design and development of a site for the Dribbble Meetups I'm hosting in Montreal.
accent_color: '#EB397B'
---

A year ago, design-focused events in Montreal were very few and far between. The city is full of extremely talented people working in a variety of creative disciplines, but these people almost never got in a room together to exchange ideas and meet people who did similar work.

I've always been a pretty active Dribbble user and I've always been amazed by the incredible community that Dan Cederholm built around this site for designers. It then felt pretty natural that I should start hosting Dribbble meetups here in Montreal.

<figure class="figure figure--half-right">
  <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/1rb2QUK-qs/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">CSS animations are tough, but we&#39;re getting closer. #mtldribbblemeetup</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A video posted by Kevin Clark (@vernalkick) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-04-20T01:41:35+00:00">Apr 19, 2015 at 6:41pm PDT</time></p></div></blockquote>
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</figure>


I thought only a handful of people would show up, but you take what you can get right? But I was really surprised to see a group of 30 people show up to the first event. I met really great people who's work I had the chance to discover and really like. Over a few discussions around pizza and a beer, I got to know a lot of new people and form a lot of friendships.

A very important part of letting everyone know about the meetup was having a dedicated website where people could find out more information, get details about the location and subscribe to a newsletter to be informed about the next event.
