---
title: MTL Dribbble Meetup
link: http://mtldribbblemeetup.com
hero_image: mtl-dribbble-meetup-macbook.png
description: Design and development of a site for the Dribbble Meetups I'm hosting in Montreal.
---

A year ago, design-focused events in Montreal were very few and far between. The city is full of extremely talented people working in a variety of creative disciplines, but these people almost never got in a room together to exchange ideas and meet people who did similar work.

<aside class="">
  <h4>If you're interested...</h4>
  <p>The code behind that powers the website is <a href="">available on Github</a>. It's a really simple Sinatra app that can be a good example to look at if you're starting out.</p>
</aside>

I've always been a pretty active Dribbble user and I've always been amazed by the incredible community that Dan Cederholm built around this site for designers. It then felt pretty natural that I should start hosting Dribbble meetups here in Montreal.

I thought only a handful of people would show up, but you take what you can get right? But I was really surprised to see a group of 30 people show up to the first event. I met really great people who's work I had the chance to discover and really like. Over a few discussions around pizza and a beer, I got to know a lot of new people and form a lot of friendships.

A very important part of letting everyone know about the meetup was having a dedicated website where people could find out more information, get details about the location and subscribe to a newsletter to be informed about the next event.
