// =============================================================================
// ARTICLE
// =============================================================================

.post__header {
  margin-bottom: 1.5rem;

  @include media($media-query--tablet-up) {
    margin-bottom: 3rem;
  }
}

.column--no-padding {
  padding: 0 !important;
}

.sidebar {
  @include media($media-query--desktop-down) {
    margin-top: 2em;
  }
}

aside {
  color: $color--grey-lighter;
  font-size: .875rem;
  margin-bottom: 1.5em;

  @include media($media-query--desktop) {
    width: 30%;
    float: right;
    margin-right: -30%;
    margin-top: .5em;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  @include media($media-query--desktop-large) {
    width: 40%;
    margin-right: -20%;
  }
}

aside h4 {
  color: $color--grey-light;
}

@include media($media-query--desktop) {
  .row {
    @include clearfix;
  }

  .column--third,
  .column--two-thirds {
    box-sizing: border-box;
    padding-right: 25%;
  }
}

@include media($media-query--desktop-large) {
  .column--left { float: left; }
  .column--right { float: right; }

  .column--third {
    padding: 0;
  }

  .column--third {
    width: 22%;
    float: left;
  }

  .column--two-thirds {
    padding-right: 12%;
    width: 70%;
  }
}


// FOOTNOTES
// -----------------------------------------------------------------------------

.footnotes {
  font-size: 0.875em;
  color: $color--grey-lighter;
}

// Put a dash between the footnote and the content of the article
hr {
  content: "";
  width: 5em;
  height: 2px;
  background-color: #EDECEC;
  margin: 2em 0;
  display: block;
  border: none;
}

.bleeding-separator {
  height: 1px;
  width: 5000px;
  background: #e5e5e5;

  @include media($media-query--desktop-large) {
    margin-left: -51.5%;
  }
}

// Adjust the `↩` icon font-size to fit with the rest of the text
[rev="footnote"] {
  font-size: 0.875em;
}


// SHARE ON TWITTER
// -----------------------------------------------------------------------------

.share-on-twitter {
  display: block;
  margin-top: 1em;

  @include media($media-query--desktop) {
    margin-top: 2em;
  }
}

.share-on-twitter__icon {
  vertical-align: -1px;
  margin-right: .25em;
}
