<div class="wrap">
  <article class="post">
    <header class="post__header row">
      <div class="column column--third column--left">
        <h1>About Me</h1>
      </div>
      <div class="column column--two-thirds column--right">
        <h2>I’m a Product Designer at Shopify, I run the Montreal Dribbble meetups and I make apps in my spare time. I live and work in the beautiful city of Montreal in Canada.</h2>
      </div>
    </header>
    <div class="post__content row">
      <div class="column column--two-thirds column--right">
        <%= figure "/assets/about-picture.jpg", "Thanks to <a href='https://twitter.com/elyseviotto'>Elyse Viotto</a> for the picture.", class: 'figure--half-right' %>

        <p>I’m just a normal guy who likes making stuff. I’m lucky enough that this passion for crafting and designing experiences also happens to be a job that you can make a good living from. Lately, what really gets me going is creating products. Tools that people can use and interact with. It’s not always the easiest task, but it’s definitely the most rewarding. I also run the Montreal Dribbble Meetups, a great way to get to know the people behind the 300 x 400 shots. We love meeting new people. If you’re in town, don’t forget to say hi!</p>

        <p>I’ve designed things for Bell Media, Busbud, H-Grégoire, OKAM and many more. How did I get there? Hard work? Luck? Probably a bit of both, but I’m currently a product designer at Shopify. We’re completely redefining what it means to run a successful business online (and off!) We’re working hard everyday to make starting your passion project accessible to anyone. It’s a fun challenge.</p>

        <h4>Side projects</h4>

        <p>In my spare time, I’m dabbling in the world of iOS design and development. Being able to take an idea and execute on it from start to finish is really empowering. Plus, the mobile phone screen is a really interesting medium to experiment with.</p>

        <p>Keep an eye on my <a href="http://dribbble.com/vernalkick">Dribbble account</a> to see the behind the scenes of whatever I'm hacking on these days.</p>
      </div>
      <div class="sidebar column column--third column--left">
        <div class="sidebar__section">
          <h4 class="sidebar__title">Contact</h4>
          <p class="sidebar__text">If you have questions or comments, I encourage you to write me. I get lots of email so I might take a while to reply, but I’ll get there.</p>
          <a href="mailto:kevin@kevinclark.ca" class="sidebar__link external-link">Say Hi</a>
        </div>
        <div class="sidebar__section">
          <h4 class="sidebar__title">Work Inquiries</h4>
          <p class="sidebar__text">I’m really happy at Shopify, I’m not looking for a new gig anytime soon. I’m interested in parnerships for side projects though.</p>
        </div>
        <div class="sidebar__section">
          <h4 class="sidebar__title">Featured in</h4>
          <ul class="sidebar__link-list">
            <li class="sidebar__link-list__item">
              <a href="http://www.theartboard.net/episodes/2015/5/26/03-managing-side-projects-with-kevin-clark">
                <span class="external-link">The Artboard</span>
                <small>Podcast appearance</small>
              </a>
            </li>
            <li class="sidebar__link-list__item">
              <a href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/">
                <span class="external-link">Typekit Blog</span>
                <small>Feature</small>
              </a>
            </li>
            <li class="sidebar__link-list__item">
              <a href="http://typ.io/s/4cmb">
                <span class="external-link">Typ.io</span>
                <small>Feature</small>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
