<article class="post">
  <header class="post__header row">
    <div class="column column--two-thirds column--right">
      <h1><%= article.title %></h1>
    </div>
  </header>
  <div class="post__content row">
    <div class="column column--two-thirds column--right">
      <%= article.body %>
      <p><%= article.date.to_s %></p>
    </div>
</article>
