<div class="section">
  <div class="wrap">
    <div class="row">
      <div class="column column--two-thirds column--right">
        <div class="heading">
          <h1 class="heading__title">Portfolio Coming Soon!</h1>
          <p class="heading__note">I'm unfortunately not taking on any new projects at the moment, but <a href="https://crew.co">you can find good freelance designers on Crew</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
