<div class="section">
  <div class="wrap">
    <div class="row">
      <div class="column column--two-thirds column--right">
        <div class="heading">
          <h1 class="heading__title">Speaking</h1>
          <h2 class="heading__lede">As a self-taught designer, I've learned everything I know from my peers and I think it's only fair that I give back to the community by sharing what I learn with other people. I'm passionate about design, typography, front-end, ecommerce and everything in between.</h2>
          <p class="heading__note">Want me to speak at your conference? <a href="#" class="btn">Shoot me an email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <img src="/assets/kevinclark-talk-antifragile.png" alt="">
</div>

<div class="section">
  <div class="wrap">
    <div class="row">
      <div class="column column--two-thirds column--right">
        <h1>Upcoming events</h1>
        <ul class="speaking-event-list">
          <li class="speaking-event">
            <header class="speaking-event__header">
              <h2 class="speaking-event__title">CocoaHeads MTL</h2>
              <span class="speaking-event__date">May 26th, 2015</span>
            </header>
            <p class="speaking-event__description">
              CocoaHeads Montréal brings together iOS and Mac developers every month for drinks and talks about anything Apple-related.
            </p>
            <ul class="speaking-event__link-list">
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
            </ul>
          </li>
          <li class="speaking-event">
            <header class="speaking-event__header">
              <h2 class="speaking-event__title">Shopify UX Summit</h2>
              <span class="speaking-event__date">May 26th, 2015</span>
            </header>
            <p class="speaking-event__description">
              CocoaHeads Montréal brings together iOS and Mac developers every month for drinks and talks about anything Apple-related.
            </p>
            <ul class="speaking-event__link-list">
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="wrap">
    <div class="row">
      <div class="column column--two-thirds column--right">
        <h1>Past events</h1>
        <ul class="speaking-event-list">
          <li class="speaking-event">
            <header class="speaking-event__header">
              <h2 class="speaking-event__title">CocoaHeads MTL</h2>
              <span class="speaking-event__date">May 26th, 2015</span>
            </header>
            <p class="speaking-event__description">
              CocoaHeads Montréal brings together iOS and Mac developers every month for drinks and talks about anything Apple-related.
            </p>
            <ul class="speaking-event__link-list">
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
            </ul>
          </li>
          <li class="speaking-event">
            <header class="speaking-event__header">
              <h2 class="speaking-event__title">Shopify UX Summit</h2>
              <span class="speaking-event__date">May 26th, 2015</span>
            </header>
            <p class="speaking-event__description">
              CocoaHeads Montréal brings together iOS and Mac developers every month for drinks and talks about anything Apple-related.
            </p>
            <ul class="speaking-event__link-list">
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
              <li class="speaking-event__link-item"><a href="#" class="external-link">Official Website</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

