// =============================================================================
// FIGURE
// =============================================================================

figure {
  margin-bottom: 1.5rem;
}

figure img {
  width: 100%;
  max-width: none;
}

figure iframe {
  width: 100%;
  height: 300px;
  border: none;
}


// CAPTION
// -----------------------------------------------------------------------------

figcaption {
  color: $color--grey-lighter;
  font-size: 0.875rem;
  margin-top: 1em;
  line-height: 1.6em;
}


// FIGURE MODIFIERS
// -----------------------------------------------------------------------------

.figure--flush {
  @include media($media-query--mobile) {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
  }

  @include media($media-query--tablet) {
    margin-left: -26%;
    width: 152%;
  }

  @include media($media-query--desktop) {
    margin-left: -17%;
    width: 167%;
  }

  @include media($media-query--desktop-large) {
    margin-left: -74%;
    width: 217%;
  }
}

.figure--flush figcaption {
  padding: 0 1.5rem;
}

.figure--full {
  @include media($media-query--desktop-large) {
    margin-left: -52%;
    width: 173%
  }
}

.figure--left {
  width: 40%;
  margin-left: -51.5%;
  float: left
}

.figure--right {
  float: right;
  margin-right: 0;
  width: 30%;

  @include media($media-query--desktop) {
    margin-right: -32%;
  }
}

.figure--half-right {
  @include media($media-query--desktop) {
    margin-left: 2rem;
    width: 65%;
    float: right;
    margin-right: -33.5%;
  }

  @include media($media-query--desktop-large) {
    width: 62%;
    margin-right: -20.5%;
  }
}

.figure--half-right img {
  @include media($media-query--mobile) {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
  }
}

.figure--extend-right img {
  @include media($media-query--mobile) {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
  }

  @include media($media-query--desktop) {
    width: 133%;
  }
  @include media($media-query--desktop-large) {
    width: 121%;
  }
}

.extend-right {
  @include media($media-query--mobile) {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
  }
  @include media($media-query--desktop) {
    width: 133%;
  }
  @include media($media-query--desktop-large) {
    width: 121%;
  }
}

.image-row {
  display: flex;
  align-items: center;

  & + & {
    margin-top: .5em;
  }
}

.image-row img {
  flex: 1;
}

.image-row img + img {
  margin-left: .5em;
}
