// -----------------------------------------------------------------------------
// ARTICLE LIST
// Displays a large list of posts. Used on the homepage and the articles page.
// -----------------------------------------------------------------------------

.article-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


// ARTICLE LIST ITEM
// -----------------------------------------------------------------------------

.article-list__item {
  font-size: 0.75em;
  margin-top: 0;
  margin-bottom: 1.5rem;

  @include media($media-query--tablet) {
    width: calc(50% - 1em);
  }

  @include media($media-query--desktop) {
    width: calc(33.33% - 1em);
    margin-bottom: 2rem;
  }
}

.article-list__item p {
  color: $color--grey-lighter;
}
