// =============================================================================
// BUTTONS
// =============================================================================

.btn {
  background: $color--accent;
  color: #fff;
  padding: .6em 1em .6em;
  border-radius: $border-radius;
  display: inline-block;

  &:hover {
    color: #fff;
  }
}
