// =============================================================================
// HEADINGS
// =============================================================================

.heading {
  // margin-bottom: 3em;
}

.heading__title {

}

.heading__lede {
  margin: 0;
}

.heading__note {
  font-size: 0.9em;
  margin-top: 1rem;
}
