// =============================================================================
// SIDEBAR
// =============================================================================

.sidebar {
  @include media($media-query--mobile) {
    border-top: 1px solid #e5e5e5;
    padding-top: 2em;
    margin-top: 2em;
  }
}

// SIDEBAR SECTION
// -----------------------------------------------------------------------------

.sidebar__section {
  padding-bottom: 3rem;
  font-size: 0.875rem;
}

.sidebar__title {
  font-weight: 500;
  color: $color--grey-light;
}

.sidebar__text {
  color: $color--grey-lighter;
  margin-bottom: 0.5rem;
}

.sidebar__image {
  margin-bottom: 1em;
}


// LINK LIST
// -----------------------------------------------------------------------------

.sidebar__link-list {
  list-style-type: none;
  padding: 0;
}

.sidebar__link-list__item {
  line-height: 1.3em;
}

.sidebar__link-list__item span {
  display: block;
}

