

body {

  /* font-family: 'Graphik', sans-serif; */
}

/* body:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(20vw + 4rem);
  display: block;
  z-index: -1;
} */
